@font-face {
    font-family: "Redressed";
    src: url(./FONT/Redressed/Redressed-Regular.ttf);
}
@font-face {
    font-family: "Adamina";
    src: url(./FONT/Adamina/Adamina-Regular.ttf);
}
/*Variables*/
:root{
    /* color */
    --background-body: #DEE5DF;
    --txt-fill-color-nav: #fff;
    --txt-stroke-nav: 1px rgba(0, 0, 0, 0.5);
    --txt-shadow-nav:0 0 10px #FFFFFF, 1px 1px 3px rgba(0, 0, 0, 0.63);
    --background-lihover-a-nav: rgba(255, 255, 255, 0.473);
    --slogan-txt-shadow: 1px 0px 3px #000000;
    --slogan-color: #fff;
    --background-div:rgba(255, 255, 255, 0.678);
    --box-shadow-div:0px 0px 21px 0px rgba(0,0,0,0.6);
    --figure-box-a-color: #fff;
    --figure-box-a-txt-shadow: 2px 1px 3px rgb(0, 0, 0);
    --figure-box-a-hover: rgba(33, 33, 33, 0.3);
    --background-footer: #DBB276;
    --background-modal: #c0825ce3;
    --modal-a-color: khaki;
    --txt-close-ml: rgb(156, 63, 63);
    --txt-open-ml: black;
    --txt-open-ml-hover: brown;
    --background-title-lieu: #655D5D;
    --color-title-lieu: #fff;
    --color-bloc-title-h3: #876445;
    --color-p-content: #C08059;
    --color-txt-act-span: #876445;
    --color-content-act-p: #C08059;
    --color-content-act-a: #876445;
    --background-nav-media: #DBB276;
    --background-burger-menu: rgb(105, 29, 29);
    --main-font-p: 16px;
    --main-font-h1: 32px;
    --main-font-h2: 26px;
    --main-font-h3-a: 24px;
    --main-font-slogan: 2.5rem;
    --main-font-title: 18px;
    --main-font-modal: 12px;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: var(--background-body);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Header */
.row-limit-size{
    max-width: 1600px;
    width: 100%;
}
.show{
    display: block !important;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-center{
    display: flex;
    align-items: center;
}
header{
    background-image: url(./IMG/img-ame.png);
    background-repeat: no-repeat;
    height: 220px;
    background-position: center center; 
    background-size: 100%;
}
figure > a > .logo{
    width: 127px;
    height: 127px;
}
#content-burger{
    display: none;
    cursor: pointer;
    height: 35px;
    width: auto;
    padding: 5px;
}
a{
    text-decoration: none;
}
nav#main-nav > ul > li{
    float: left;
    padding: 10px;
}
p{
    font-family: "Adamina";  
    font-size: var(--main-font-p);
}
h1{
    font-size: var(--main-font-h1);
}
h2{
    font-size: var(--main-font-h2);
}
nav#main-nav > ul > li > a{
    font-size:  var(--main-font-h3-a);
    -webkit-text-fill-color: var(--txt-fill-color-nav);
    -webkit-text-stroke: var(--txt-stroke-nav);
    text-shadow: var(--txt-shadow-nav);
    font-family: "Adamina";
}
nav#main-nav > ul > li:hover > a{
    background-color:var(--background-lihover-a-nav);
}

/* Slogan */
.slogan{
    position: relative;
}
.slogan::before{
    content: "La dolce vità et le far niente !";
    position: absolute;
    top: -40px;
    text-shadow: var(--slogan-txt-shadow);
    font-size: var(--main-font-slogan);
    font-family: "Adamina";
    color: var(--slogan-color);
}

/* Accueil */
.row-limit-size > .txt-accueil > h1, .txt-accueil-2 > h1{
    text-align: center;
    height: auto;
}
.row-limit-size > .txt-accueil > h1, .txt-accueil-2 > h1{
    padding: 45px 0;
}
.row-limit-size > .txt-accueil-2{
    padding-bottom: 45px;
}
/* Div Superficie - Population */
.row-limit-size > .txt-accueil > .population-superficie > .habit-superf > figure > img{
    width: 640px;
    height: 320px;
    object-fit: contain;
}
.row-limit-size > .txt-accueil > .population-superficie > .commune > p, .habit-superf > p{
    text-align: center;
}
/* Div content-hisoire */
.content-histoire, .climat, .row-limit-size > .main-content-acts > .content-act, .row-limit-size > .bloc-content{
    background-color: var(--background-div);
    box-shadow: var(--box-shadow-div);
}
.content-histoire{
    /* height: 500px; */
    width: 800px;
    border-radius: 10px;
    padding: 20px;
}
.content-histoire > h2{
    padding: 10px 0;
}
.content-histoire > .histoire{
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-histoire > .histoire > p{
    padding: 10px;
    line-height: 30px;
}
.content-histoire > .histoire > .cercle{
    font-size: var(--main-font-p);
    font-weight: bold;
    border: thick double #32a1ce;
    padding: 10px;
}

/* Div climat */
.climat{
    width: 610px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.row-limit-size > .txt-accueil-2 > .flex-around > .climat > figure > img{
    width: 100px;
    height: auto;
    transform: rotate(25deg);
}

/* Maps */
#maps {
   padding: 0 0 45px 0;
    text-align: center;
}
#maps > iframe{
    border-radius: 10px;
}

/* Img Accueil */
.img-acc, .overlay-acc, figure > figcaption{
    border-radius: 10px;
}
.figure-content{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}
.figure-box{
    position: relative;
}
.figure-box  >a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    color: var(--figure-box-a-color);
    text-shadow: var(--figure-box-a-txt-shadow);
    font-size: var(--main-font-h3-a);
}
.figure-box > a:hover{
    background-color: var(--figure-box-a-hover);
    border-radius: 10px; 
}
.figure-box  >a > h2{
    text-align: center;
}
.overlay-acc{
    height: 230px;
    object-fit: contain;
}


/* Footer */
footer{
    background-color: var(--background-footer);
}
/* Modal Mentions légales */
#modal > div {
    display: none;
}
#modal{
    position: absolute;
    left: 35%;
    bottom: 0;
    max-width: 1100px;
    width: 100%;
    z-index: 9999;
    text-align: center;
    display: none;
}
#modal div{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-modal);
    position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#modal > div > p{
    font-size: var(--main-font-modal);
}
#modal > div > h2{
    font-weight: 700;
}
#modal > div > p >a{
    color: var(--modal-a-color);
}
#close-ML{
    color: var(--txt-close-ml);
    font-weight: 700;
}
#modal > div > .p-modal{
    padding-bottom: 10px;
}
#ml-copyright{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 45%;
}
#open-ML{
    color: var(--txt-open-ml);
    font-weight: 700;
}
#open-ML:hover{
    color: var(--txt-open-ml-hover);
}
.footer-prest{
    position: relative;
}

/* lieux incontournables */
.p-lieu > p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
    line-height: 26px;
}
.box > a > img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 40px 0;
}
.boxs > .figure-box > .box{
    padding: 20px;
}
.box{
    position: relative;
}
.boxs > .figure-box > .box > a >.title-lieu{
    height: 50px;
    width: 300px;
    position: absolute;
    bottom: 0;
    background-color: var(--background-title-lieu);
    color: var(--color-title-lieu);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--main-font-title);
}
/* Marchés et foires */
.blocs{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}
.row-limit-size > .bloc-content > figure > img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.row-limit-size > .bloc-content{
    height: 500px;
    width: 300px;
}
.bloc-content > .bloc-content-desc > .bloc-title > h3{
    color: var(--color-bloc-title-h3);
    font-size: var(--main-font-h3-a);
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
.bloc-content > .bloc-content-desc > .desc-p-content > p{
    color: var(--color-p-content);
    padding: 10px 5px;
    text-align: center;
    font-size: var(--main-font-title);
}

/* Actualités */
.row-limit-size > .main-content-acts{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.row-limit-size > .main-content-acts > .content-act{
    width: 80%;
    height: 150px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.row-limit-size > .main-content-acts > .content-act > figure > img{
    width: 400px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 0px 16px -3px rgba(46, 42, 42, 0.77);
}
.row-limit-size > .main-content-acts > .content-act {
    display: flex;
    
}
.row-limit-size > .main-content-acts > .content-act > .txt-act{
    padding: 10px 10px 10px 30px;
    box-sizing: content-box;
    width: 50%;
}
.row-limit-size > .main-content-acts > .content-act > .txt-act > span{
    color: var(--color-txt-act-span);
    font-size: var(--main-font-p);
}
.row-limit-size > .main-content-acts > .content-act > .txt-act > p{
    padding-top: 10px;
    color: var(--color-content-act-p);
    line-height: 35px;
}
.row-limit-size > .main-content-acts > .content-act  > a{
    display: block;
    height: 30px;
    align-self: flex-end;
    color: var(--color-content-act-a);
    font-weight: 700;
    font-style: italic;
}



/* Media Querry */
@media screen and (max-width: 1535px){
    .overlay-acc{
        height: 200px;
    }
    .figure-content{
        max-width: 1200px;
        padding: 10px;
    }
    .txt-accueil-2 > .flex-around > .climat{
        margin-top: 45px;
    }
}
@media screen and (max-width: 1280px){
    .overlay-acc{
        height: 180px;
    }
    .figure-content{
        max-width: 1100px;
    }
    .txt-accueil > .population-superficie > .habit-superf{
        margin-top: 45px;
    }
}
@media screen and (max-width: 1200px ){
    .row-limit-size > .bloc-content{
        height: 450px;
        width: 500px;
        margin: 20px 0;
    }
    .row-limit-size > .bloc-content > figure > img{
        width: 500px;
        height: 300px;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 300px;
    }
}
@media screen and (max-width: 1155px) {
    .figure-content{
        flex-direction: column;
        max-width: 610px;
    }
    .overlay-acc{
        height: auto;
        padding-bottom: 5px;
    }
    .figure-box > a{
        max-width: 610px;
    }
    .figure-box > a > h2{
        text-align: center;
    } 
}
@media screen and (max-width: 1100px) {
    #ml-copyright{
        left: 40%;
    }
    .row-limit-size > .bloc-content{
        height: 450px;
        width: 400px;
        margin: 20px 0;
    }
    .row-limit-size > .bloc-content > figure > img{
        width: 400px;
        height: 300px;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 250px;
    }
}
@media screen and (max-width: 1040px) {
    .box > a > img{
        height: 500px;
        object-fit: cover;
    }
    .box > a > img, .boxs > .figure-box > .box > a >.title-lieu{
        width: 800px;
    }
    .boxs > .figure-box > .box > a >.title-lieu{
        height: 80px;
        position: absolute;
        bottom: 0;
    }
    .row-limit-size > .main-content-acts > .content-act > .txt-act > p {
        font-size: 16px;
    }
}
@media screen and (max-width: 940px){
    .content-histoire{
        max-width: 600px;
        width: 100%;
    }
    nav#main-nav > ul > li > a{
        font-size: 20px;
    }
}
@media screen and (max-width: 920px){
    .row-limit-size > .main-content-acts > .content-act{
        flex-direction: column;
        align-items: center;
        height: inherit;
        width: 80%;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: inherit;
        height: inherit;
    }
    .row-limit-size > .main-content-acts > .content-act > .txt-act{
        text-align: center;
    }
    .row-limit-size > .main-content-acts > .content-act > a{
        align-self: inherit;
    }
}
@media screen and (max-width: 900px){
    #maps > iframe {
        width: 600px;
    }
    #modal > div {
        max-width: 600px;
        width: 100%;
        top: 990px;
    }
}
@media screen and (max-width: 865px) {
    .row-limit-size > .bloc-content{
        height: 450px;
        width: 99%;
        margin: 20px 0;
    }
    .row-limit-size > .bloc-content > figure > img{
        width: 100%;
        height: 300px;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 600px;
    }
    .row-limit-size > .main-content-acts > .content-act{
        width: 80%;
    }
    
}
@media screen and (max-width: 850px){
    .row-limit-size > .main-content-acts > .content-act > .txt-act > p{
        font-size: 15px;
    }
}
@media screen and (max-width: 830px) {
    .box > a > img{
        height: 500px;
        object-fit: cover;
    }
    .box > a > img, .boxs > .figure-box > .box > a >.title-lieu{
        width: 700px;
    }
    nav#main-nav > ul > li > a{
    font-size: 18px;
    }
}


@media screen and (max-width: 785px){
    header{
        height: 140px;
    }
    figure > a > .logo{
        width: 80px;
        height: 80px;
    }
    nav#main-nav > ul > li{
        float: inherit;
        text-align: center;
    }
    nav#main-nav > ul > li > a{
        font-size: 1rem;
        -webkit-text-fill-color: rgb(29, 23, 23);
    }
    nav#main-nav{
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 140px;
        background-color: var(--background-nav-media);
    }
    #content-burger{
        display: block;
        padding: 10px;
        z-index: 9999;
    }
    #burger-menu{
        display: inline-block;
        position: relative;
        width: 40px;
        height: 4px;
        background-color: var(--background-burger-menu);
    }
    #burger-menu::before, #burger-menu::after{
        content: "";
        width: 40px;
        height: 4px;
        background-color: var(--background-burger-menu);
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transition: all 0.3s ease;
    }
    #burger-menu::before{
        top: -10px;
    }
    #burger-menu::after{
        top: 10px;
    }
    
    #burger-menu.open{
        height: 0;
    }
    #burger-menu.open::before{
        transform: rotate(45deg);
        top: 0;
    }
    #burger-menu.open::after{
        transform: rotate(-45deg);
        top: 0;
    }
    .slogan::before{
        font-size: 2em;
        top: -32px;
    }
    .content-histoire, .climat{
        max-width: 500px;
        width: 100%;
    }
    .box > a >img{
        height: 500px;
        object-fit: cover;
    }
    .box > a > img, .box > a > img, .boxs > .figure-box > .box > a >.title-lieu{
        width: 600px;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 550px;
    }
    .row-limit-size > .main-content-acts > .content-act > .txt-act > p{
        line-height: 25px;
    }
    
}
@media screen and (max-width: 720px) {
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 500px;
    } .row-limit-size > .main-content-acts > .content-act > .txt-act{
        width: 100%;
    }
}
@media screen and (max-width: 680px){
    .figure-content, .figure-box > a{
        max-width: 510px;
    }
    .overlay-acc{
        height: 335px;
        width: 100%;
        object-fit: cover;
    }
    #modal > div {
        max-width: 600px;
        width: 100%;
        top: 990px;
    }
    .box > a > img{
        height: 500px;
        object-fit: cover;
    }
    .box > a > img, .box > a > img, .boxs > .figure-box > .box > a >.title-lieu{
        width: 500px;
    }
}
@media screen and (max-width: 660px){
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 450px;
    }
    .row-limit-size > .txt-accueil > .population-superficie > .commune > figure > img, .row-limit-size > .txt-accueil > .population-superficie > .habit-superf > figure > img{
        width: 500px;
    }
}
@media screen and (max-width: 640px ) {
    #maps > iframe{
        width: 510px;
    }
    #modal > div {
        max-width: 450px;
        width: 100%;
        top: 700px;
    }
    #ml-copyright{
        left: 35%;
    }
}
@media screen and (max-width: 595px){
    .txt-accueil > h1 , .txt-accueil-2 > h1{
        font-size: 22px;
    }
    .txt-accueil-2 > .flex-around > .content-histoire , .txt-accueil-2 > .flex-around > .climat ,.figure-content{
        max-width: 450px;
    }
    .row-limit-size > .txt-accueil > .population-superficie > .commune > p, .habit-superf > p{
        font-size: 18px;
    }
    #modal > div{
        top: 700px;
    }
    .box > a > img{
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 400px;
    }
    .row-limit-size > .main-content-acts > .content-act{
        width: 75%;
    }
}
@media screen and (max-width: 550px){
    .txt-accueil-2 > .flex-around > .content-histoire, .txt-accueil-2 > .flex-around > .climat, .figure-content{
        max-width: 350px;
    }
    .content-histoire, .climat, .figure-content, .figure-box > a, #maps > iframe{
        max-width: 450px;
    }
    .box > a > img{
        height: 400px;
        object-fit: cover;
    }
    .box > a > img, .box > a > img, .boxs > .figure-box > .box > a >.title-lieu{
        width: 400px;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 300px;
    }
    .row-limit-size > .main-content-acts > .content-act{
        width: 65%;
    }
}
@media screen and (max-width: 510px){
    header{
        background-position: inherit;
    }
    .row-limit-size > .txt-accueil > .population-superficie > .commune > figure > img, .row-limit-size > .txt-accueil > .population-superficie > .habit-superf > figure > img{
        width: 400px;
    }
    .row-limit-size > .txt-accueil > .population-superficie > .commune > p, .habit-superf > p{
        font-size: 16px;
    }
}
@media screen and (max-width: 480px){
    .content-histoire, .climat, .figure-content, .figure-box > a, #maps > iframe, .txt-accueil-2 > .flex-around > .content-histoire, .txt-accueil-2 > .flex-around > .climat, .figure-content{
        max-width: 350px;
    }
}
@media screen and (max-width: 460px) {
    header{
        height: 100px;
    }
    figure > a > .logo{
        height: 50px;
        width: 50px;
    }
    .slogan::before{
        font-size: 1.5em;
        top: -23px;
    }
    .content-histoire, .climat, .figure-content, .figure-box > a, #maps > iframe{
        max-width: 350px;
        width: 100%;
    }
    #ml-copyright{
        top: 10px;
        left: 32.5%;
        font-size: 12px;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 250px;
    }
    .row-limit-size > .main-content-acts > .content-act{
        width: 60%;
    }
    .row-limit-size > .main-content-acts > .content-act > .txt-act > span{
        font-size: 20px;
    }
    .row-limit-size > .main-content-acts > .content-act > .txt-act > p{
        font-size: 12px;
    }
}
@media screen and (max-width: 440px) {
    .txt-accueil > h1{
        font-size: 18px;
    }
    .box > a > img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .boxs > .figure-box > .box > a >.title-lieu{
        width: 300px;
    }
}
@media screen and (max-width: 420px){
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 230px;
    }
    .bloc-content > .bloc-content-desc > .desc-p-content > p{
        font-size: 16px;
    }
    .blocs{
        padding: 0;
    }
}
@media screen and (max-width: 385px){
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 200px;
    }
}
@media screen and (max-width: 350px) {
    header, nav#main-nav{
        height: 110px;
    }
    #burger-menu, #burger-menu::before, #burger-menu::after{
        width: 25px;
    }
    nav#main-nav > ul > li{
        padding: 5px;
    }
    .slogan::before{
        font-size: 1em;
        top: -20px;
    }
    .content-histoire, .climat, .figure-content, .figure-box > a, #maps > iframe, .txt-accueil-2 > .flex-around > .content-histoire, .txt-accueil-2 > .flex-around > .climat, .figure-content{
        max-width: 290px;
    }
    .row-limit-size > .txt-accueil > .population-superficie > .commune > figure > img, .row-limit-size > .txt-accueil > .population-superficie > .habit-superf > figure > img{
        width: 250px;
    }
    .p-lieu > p {
        font-size: 16px;
        padding: 5px;
    }
    .row-limit-size > .main-content-acts > .content-act > figure > img{
        width: 150px;
    }
    .box > a > img, .boxs > .figure-box > .box > a >.title-lieu{
        width: 250px;
    }
    .boxs > .figure-box > .box > a >.title-lieu{
        height: 60px;
        font-size: 15px;
    }
}
@media screen and (max-width: 280px) {
    .box > a > img, .boxs > .figure-box > .box > a >.title-lieu{
        width: 200px;
    }
}